# TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("C:\Personal\Data science\Assingments\Assignment 3\Costomer+OrderForm.csv")

In [3]:
df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [ ]:
#because these are categorical columns we have to use chi-square test
#h0:columns are dependent on each other
#h1:columns are dependent on eachother

In [4]:
from scipy import stats

In [7]:
df['Phillippines'].value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [8]:
df['India'].value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [9]:
df['Indonesia'].value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [10]:
df['Malta'].value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [11]:
obs=[(271,280,267,269),(29,20,33,31)]

In [12]:
obs

[(271, 280, 267, 269), (29, 20, 33, 31)]

In [14]:
chi2,pval,df,exp=stats.chi2_contingency(obs)
pval

0.2771020991233135

In [15]:
alpha=0.05
if pval<alpha:
    print('Reject null hypothesis,columns are dependent on eachother')
else:
    print('fail to reject null hypothesis,columns are dependent on each other')

fail to reject null hypothesis,columns are dependent on each other