#      Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

In [1]:
import pandas as pd
from scipy import stats

In [7]:
df=pd.read_csv("C:\Personal\Data science\Assingments\Assignment 3\BuyerRatio.csv",index_col=0)
df

                 East  West  North  South
Observed Values
Males              50   142    131     70
Females           435  1523   1356    750

In [9]:
#ho:All proportions are equal
#ha:Not all Proportions are equal    
chi2,pval,df,exp=stats.chi2_contingency(df)
pval

0.6603094907091882

In [11]:
alpha=0.05
if pval<alpha:
    print('Reject null hypothesis,Not all Proportions are equal')
else:
    print('fail to reject null hypothesis,All proportions are equal')

fail to reject null hypothesis,All proportions are equal